<h1>Bem-vindo, {{user.username}}</h1>
<div id="messages"></div>
<input id="msgInput" placeholder="Mensagem">
<button onclick="sendMessage()">Enviar</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
